/* You can add global styles to this file, and also import other style files */
@import "./chat.theme.scss";
@import "../../../styles/_typography";
@import "../../../styles/_theming";
@import "../../../styles/_spacing";
@import "../../../styles/_material-fixes";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
