<section fxFlex="grow" fxLayout fxLayoutAlign="space-between stretch">
    <section class="container" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="grow" fxLayoutGap="1rem"
        class="m-1">
        <div class="google-btn" *ngIf="!(isLoggedIn | async)" (click)="userService.signIn()">
            <div class="google-icon-wrapper">
                <img class="google-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
        </div>
        <!-- <button mat-raised-button color="accent" id="my-signin2" (click)="userService.signIn()"
            *ngIf="!(isLoggedIn | async)">
            Login with Google
        </button> -->
        <mat-checkbox [(ngModel)]="muted">
            Mute
        </mat-checkbox>
        <audio src="../../assets/when.mp3" #audioEl></audio>
        <mat-card>
            <mat-card-header>
                Number of Connected Users {{(users | async)?.length}}
            </mat-card-header>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item *ngFor="let message of messages" role="listitem">
                        <section fxLayout fxLayoutAlign="space-between center" fxFlex="grow">
                            <section fxLayout fxLayoutAlign="start center">
                                <img class="sender-image mr-1" [src]="message.senderImg" />
                                <div class="sender-name mr-1">{{message.senderName}}:</div>
                                <div class="content mr-1">
                                    {{message.content}}
                                </div>
                            </section>
                            <div class="timestamp" fxFlexAlign="end">
                                {{message.timestamp | date:'HH:mm:ss'}}
                            </div>
                        </section>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <hr>
            <mat-card-footer>
                <section fxLayout>
                    <mat-form-field class="ml-1">
                        <mat-label>Type your message</mat-label>
                        <input matInput (keydown.enter)="addChat()" color="accent" [(ngModel)]="message"
                            [disabled]="!(isLoggedIn | async)">
                    </mat-form-field>
                    <button mat-button (click)="addChat()" [disabled]="!(isLoggedIn | async)">
                        <mat-icon>send</mat-icon>Send
                    </button>
                </section>
            </mat-card-footer>
        </mat-card>
    </section>
    <app-online-users *ngIf="isLoggedIn | async" [users]="users | async"></app-online-users>
</section>