<section class="container">
  <h1>Live Chat</h1>
  <mat-card>
    <mat-card-header>
      Number of Connected Users {{users}}
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let message of messages" role="listitem">{{message}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <section fxLayout>
    <input matInput ([ngModel])="message" placeholder="Type your message">
    <button mat-button>Send</button>
  </section>
</section>