<section class="container">
  <h1>Live Chat</h1>
  <mat-card>
    <mat-card-header>
      Number of Connected Users {{users}}
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let message of messages" role="listitem">
          <span>
            {{message}}
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <section fxLayout>
    <mat-form-field>
      <mat-label>Type your message</mat-label>
      <input matInput [(ngModel)]="message">
    </mat-form-field>
    <button mat-button (click)="addChat()">
      <mat-icon>send</mat-icon>Send
    </button>
  </section>
</section>