$text-color-1: white;
$text-color-2: black;
$text-highlight: lightblue;

$action-success: green;
$action-warning: orange;
$action-error: red;

$material-dark-color: #303030;

$material-accent-color: #455a64;
$material-primary-color: #212121;

$background-color-1: linear-gradient(to right, lightblue, rgba(173, 216, 230, 0.8));
$background-color-2: rgba(185, 185, 185, 0.15);
$background-color-3: #0000000e;

$border-color-1: white;
$border-color-2: rgba(128, 128, 128, 0.2);
$border-color-3: black;
$box-shadow-color: rgba(0, 0, 0, 0.4);

$background-highlight: rgba(42, 42, 42, 0.4);
